-if current_user
  .row
    .col-xs-12.first-column
      %ul
      -current_user.instagram_client.user_media_feed.each do |user|
        %li.list-unstyled
          .row.center-picture.white
            .col-xs-6.text-left
              = link_to user.user.username, user_path(user.user.id), class: "text-left"
            .col-xs-6.text-right
              = link_to how_long_since(user.created_time), root_path, class: "text-right"
        %li.list-unstyled
          .image.img-rounded.img-responsive.comments.center-picture
            = link_to (image_tag user.images.standard_resolution.url, class: "img-responsive"), user_path(user.user.id)
            .comments.white
            "Comments: #{user.comments.count}"
            %a.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample", :role => "button"}
              Link with href
            %button.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#collapseExample", "data-toggle" => "collapse", :type => "button"}
              Button with data-target
            #collapseExample.collapse
              .well
                "hellow world"
            - user.comments.data.each do |d|
              %li.list-unstyled
                .comments.center-picture
                  .row.panel-title.white
                    .col-xs-6.text-left
                      = "#{d.from.username}"
                    .col-xs-6.text-right
                      = how_long_since(d.created_time)
                  %p.text-left.well
                    = d.text
                -# <div class="well well-sm">...</div>
