-if current_user
  .row
    .col-md-10.col-md-offset-1.first-colum
      %ul
      -current_user.instagram_client.user_media_feed.each do |user|
        %li.list-unstyled
          .row
            .col-xs-6.text-left
              %h1
                = link_to user.user.username, user_path(user.user.id), class: "text-left"
            .col-xs-6.text-right
              %h1
                = link_to how_long_since(user.created_time), root_path, class: "text-right"
          .img-rounded
            = link_to (image_tag user.images.standard_resolution.url, class: "img-responsive"), user_path(user.user.id)
          .white.text-center
            %h4
              Comments: #{user.comments.data.count}
            - user.comments.data.each do |d|
              .row
                .col-xs-6.text-left
                  %h1
                    .panel-default
                      = "#{d.from.username}"
                .col-xs-6.text-right
                  %h1
                    .panel-default
                      = how_long_since(d.created_time)
              .well
                .text-left.text-black
                  = d.text
