.row
  .col-md-4
    #profile_image
    = image_tag current_user.image, src: "Picture of #{current_user.nickname}"
  .col-md-8
    %h1= "Profile: #{current_user.nickname}"
    %br
    %p= "Total number of posts: #{current_user.instagram_client.user.counts.media}"
    %p= "Total number of followers: #{current_user.instagram_client.user.counts.followed_by}"
    %p= "Total number of people you are following: #{current_user.instagram_client.user.counts.follows}"
.row
  .col-md-12
    %ul.list-unstyled
    -current_user.instagram_client.user_recent_media. each do |picture|
      %li.list-unstyled
        = link_to picture.user.username, user_path(picture.user.id)
        = how_long_since(picture.created_time)
        .image.img-rounded.img-responsive
        = link_to (image_tag picture.images.standard_resolution.url, class: "img-responsive"), user_path(picture.user.id)


