.row
  .col-md-4
    #profile_image
    = image_tag @user.profile_picture, src: "Picture of #{@user.username}"
  .col-md-8
    .p.text-left
      %h1= "Profile: #{@user.username}"
      %br
      %p= "Total number of posts: #{@user.counts.media}"
      %p= "Total number of followers: #{@user.counts.followed_by}"
      %p= "Total number of people you are following: #{@user.counts.follows}"
  .col-md-2



